#teste{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vermelho{
    color: red;
}

.azul{
    color: blue;
}

.verde{
    color: green;
}